<!DOCTYPE html>
<html ng-app="phonebook">
<head>
	<meta charset="UTF-8" />
	<title>Phone book</title>
	<link rel="stylesheet" href="style/bootstrap.min.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script type="text/javascript" src="js/services/ContactsStorage.js"></script>
	<script type="text/javascript" src="js/models/ContactsModel.js"></script>
	<script type="text/javascript" src="js/controllers/ContactsController.js"></script>
	<script type="text/javascript" src="js/Application.js"></script>
</head>
    <body>
        <div ng-controller="contactsController">

			<header>
				<h1>Phone book</h1>
				<input type="text" placeholder="hledaný výraz" id="search" ng-model="searchQuery" />
			</header>

			<table>
				<thead>
					<tr>
						<th>Jméno</th>
						<th>Link</th>
						<th>Phone</th>
						<th>Age</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in read() | filter:searchQuery ">
						<td>{{item.name}}</td>
						<td><a ng-href="{{item.link}}">{{item.name}}</a></td>
						<td>{{item.phone}}</td>
						<td>{{item.age}}</td>
						<td>
							<button class="btn-small" ng-click="delete(item)">
								<i class="icon-trash"></i>
							</button>
							<button class="btn-small" ng-click="edit(item)">
								<i class="icon-edit"></i>
							</button>
						</td>
					</tr>
				</tbody>

				<form>
					<tfoot>
						<tr>
							<td><input type="text" ng-model="form.name" placeholder="Jméno klienta" /></td>
							<td><input type="url" ng-model="form.link"  placeholder="Odkaz na jeho web" /></td>
							<td><input type="text" ng-model="form.phone" placeholder="Telefonní kontakt" /></td>
							<td><input type="number" ng-model="form.age" placeholder="Věk" min="10" max="90" integer /></td>
							<td><input type="submit" value="Uložit" ng-click="store()" /></td>
						</tr>
					</tfoot>
				</form>

			</table>

        </div>
    </body>
</html>
